body {
  background-color: #121212;
  color: #eeeeee;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}


h1 {
  text-align: center;
  color: #00bcd4;
  margin-bottom: 20px;
}

img {
  max-width: 30%;
  border-radius: 50px;
  margin-top: 20px;
  
}
header {
  padding: 20px;
  text-align: center;
}

h2 {
  text-decoration: underline;
  padding: 10px;
  color: #00bcd4;
  text-align: center;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

footer{
  text-align: center;
  margin-bottom: 30px;
  padding: 30px;
  
}

button {
  margin-top: 20px;
  width: 50%;
  background-color: #00bcd4;
  border: none;
  padding: 12px;
  font-size: 1.1em;
  border-radius: 8px;
}
